<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="footer1">

<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
        <div class="row">
            <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                <p class="m-0 text-white">&copy; <a href="#">우동맛</a>. All Rights Reserved. 

				<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
				Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                </p>
            </div>
            <div class="col-lg-6 text-center text-md-right">
                <ul class="nav d-inline-flex" sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" sec:authorize="hasRole('ROLE_MEMBER')" href="mypage">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" sec:authorize="hasRole('ROLE_ADMIN')" href="admin">관리자</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white py-0" sec:authorize="hasRole('ROLE_MEMBER')" href="QnA">문의하기</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html> 